name: Run PyTorch Tests

on:
  workflow_call:
    inputs:
      torch-version:
        required: true
        type: string

jobs:
  run-pytorch-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Python 3
        uses: actions/setup-python@v5
        with:
          python-version: 3.12.*
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt          
          pip install torch==${{ inputs.torch-version }} torchvision "onnx<1.18" "onnxruntime<1.22" "onnxruntime-extensions<0.14"
      - name: Run unittests
        run: python -m unittest discover tests/pytorch_tests -v
