name: Run Backward Compatibility Test - Tensorflow 2.15 MCTQ v1.5.2
on:
  workflow_dispatch: # Allow manual triggers
  schedule:
    - cron: 0 0 * * *
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  run-comp-tensorflow-2_15-v1_5_2:
    uses: ./.github/workflows/compatibility_keras_tests.yml
    with:
      save_version: "v1.5.2"
      python_version: "3.12"
      tf_version: "2.15.*"
